Repository blackcowmoo/etf, pull requests merged in 2020-01, with the labels that each got.

#37 Ignore install when already yarn exist
  frontend/Dockerfile.dev
  gateway/Dockerfile.dev
Labels: feature/bugfix, project/frontend, project/gateway

#38 Install nextjs when build in docker-compose
  docker-compose.yaml
  frontend/package.json
Labels: feature/bugfix, project/frontend

#40 Fixed an issue where local variations in the front end do not apply to the dockers.
  frontend/next.config.js
Labels: feature/bugfix, project/frontend

#36 Enable https by environment
  backend/src/main/resources/application.yml
Labels: feature/enhancement, feature/security

#35 Split configuration
  .travis.yml
  .travis/cache.yml
  .travis/deploy.yml
  .travis/lint.yml
  .travis/services.yml
  .travis/test.yml
Labels: feature/enhancement

#34 Disable test in docker build of backend
  backend/Dockerfile
  docker-compose.yaml
Labels: feature/enhancement, project/backend

#31 Add script of find unique port for travis test
  .travis/test.yml
  tools/find-port.sh
Labels: feature/bugfix, project/backend

#39 gateway-watchman
  gateway/package.json
  gateway/src/index.ts
Labels: feature/bugfix, project/gateway

#42 Fix Next.js version in package.json
  docker-compose.yaml
  frontend/yarn.lock
Labels: feature/bugfix, project/frontend

#54 Export to static file from frontend
  frontend/package.json
Labels: feature/devops, feature/enhancement, project/frontend

#56 Apply .editorconfig
  .editorconfig
Labels: feature/enhancement

#51 Setup prettier
  .prettierrc
Labels: feature/enhancement
